.blogCard__wrapper {
  width: 100%;
  max-width: 1176px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  .title__cont {
    font-size: clamp(16px, 7vw, 31px);
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }
  .cards__cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card__cont {
      display: flex;
      flex-direction: column;
      width: 370px;
      height: 500px;
      .img__cont {
        width: 100%;
        height: 50%;
        background-color: lightgray;
        border-radius: 12px;
      }
      .contt__cont {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 50%;
        padding-left: 5px;
        .date__cont {
          font-size: clamp(12px, 3vw, 15px);
          color: #747474;
        }
        .card__title__cont {
          font-weight: bold;
          font-size: clamp(14px, 4vw, 18px);
        }
        .card__txt__cont {
          font-size: clamp(12px, 3vw, 15px);
          color: #747474;
        }
        .link__cont {
          font-size: clamp(12px, 3vw, 15px);
          color: #3b00ad;
          font-weight: bold;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .blogCard__wrapper {
    width: 90%;
    .cards__cont {
      .card__cont {
        margin-bottom: 10px;
      }
    }
  }
}
@media only screen and (max-width: 825px) {
  .blogCard__wrapper {
    width: 90%;
    .cards__cont {
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 750px) {
  #mobile__card__cont {
    .contt__cont {
      justify-content: flex-start;
      .date__cont {
        margin-top: 4px;
        margin-bottom: 11px;
      }
      .card__txt__cont {
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
  }
}
