.contt__wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}
.title__cont {
  font-size: clamp(16px, 7vw, 31px);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 13px;
}
.txt__cont {
  color: #747474;
  font-size: clamp(12px, 2vw, 15px);
  line-height: 1.5;
  width: 65%;
  text-align: center;
  margin-bottom: 30px;
}
.cards__cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
  div:first-child {
    .card__img__cont {
      .color {
        background-image: url("https://jkconstruction.s3.us-west-1.amazonaws.com/ssumCo/modules/icons/cardRed.png");
      }
    }
  }
  div:nth-child(2) {
    .card__img__cont {
      .color {
        background-image: url("https://jkconstruction.s3.us-west-1.amazonaws.com/ssumCo/modules/icons/cardBlue.png");
      }
    }
  }
  div:last-child {
    .card__img__cont {
      .color {
        background-image: url("https://jkconstruction.s3.us-west-1.amazonaws.com/ssumCo/modules/icons/cardOrange.png");
      }
    }
  }
}
.card__cont {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  align-items: center;
  justify-content: flex-start;
}
.card__img__cont {
  position: relative;
  width: 174px;
  height: 143px;
  .svg {
    width: 55px;
    height: 55px;
    object-fit: contain;
    left: 56px;
    top: 27px;
    .svg__outerLayer {
      width: 100%;
      height: 100%;
    }
  }
  div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .white {
    background-image: url("https://jkconstruction.s3.us-west-1.amazonaws.com/ssumCo/modules/icons/cardWhite.png");
  }
}
.card__title__cont {
  font-size: clamp(15px, 3vw, 22px);
  font-weight: bold;
  text-align: center;
}
.card__txt__cont {
  margin-top: 12px;
  color: #747474;
  line-height: 1.75;
  font-size: clamp(12px, 4vw, 15px);
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 1080px) {
  .contt__wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 692px) {
  .txt__cont {
    width: 100%;
  }
}
@media only screen and (max-width: 580px) {
  .cards__cont {
    flex-direction: column;
    align-items: center;
    .card__cont {
      margin-bottom: 10px;
    }
  }
}
@media only screen and (max-width: 320px) {
  .card__cont {
    width: 100%;
  }
}
