.mainbanner {
  width: 100%;
  max-width: 1680px;
  height: 630px;
  background-color: white;
  // border: 1px solid black;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  .mainvanner__element{
    background-color: rgb(194, 203, 250);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0px;right: 0;
    top: 0px; bottom: 0;
    
  }
  #element_animation1{
    animation: element1 0.5s ease-in-out 0.9s forwards;
    
    @keyframes element1 {
      0%{
      }

      98%{
        transform: translate(-150px, -150px);     
        height: 10px;
        width: 10px; 
      }
      99%{
        height:40px;
        weight:40px;
      }
      100%{
        height: 0;
        width: 0;
      }
    }
  }
  #element_animation2{
    animation: element2 0.5s ease-in-out 0.9s forwards;
    
    @keyframes element2 {
      0%{
      }
      98%{
        transform: translate(-200px, 0px);
        height: 10px;
        width: 10px;
      }
      99%{
        height:40px;
        weight:40px;
      }
      100%{
        height: 0;
        width: 0;
      }
    }
  }
  #element_animation3{
    animation: element3 0.5s ease-in-out 0.9s forwards;
    
    @keyframes element3 {
      0%{
      }
      98%{
        transform: translate(200px, 0px);
        height: 10px;
        width: 10px;
      }
      99%{
        height:40px;
        weight:40px;
      }
      100%{
        height: 0;
        width: 0;
      }
    }
  }
  #element_animation4{
    animation: element4 0.5s ease-in-out 0.9s forwards;
    
    @keyframes element4 {
      0%{
      }
      98%{
        transform: translate(0px, -200px);
        height: 10px;
        width: 10px;
      }
      99%{
        height:40px;
        weight:40px;
      }
      100%{
        height: 0;
        width: 0;
      }
    }
  }
  #element_animation5{
    animation: element5 0.5s ease-in-out 0.9s forwards;
    
    @keyframes element5 {
      0%{
      }
      98%{
        transform: translate(0px, 200px);
        height: 10px;
        width: 10px;
      }
      99%{
        height:40px;
        weight:40px;
      }
      100%{
        height: 0;
        width: 0;
      }
    }
  }
  #element_animation6{
    animation: element6 0.5s ease-in-out 0.9s forwards;
    
    @keyframes element6 {
      0%{
      }
      98%{
        transform: translate(150px, 150px);
        height: 10px;
        width: 10px;
      }
      99%{
        height:40px;
        weight:40px;
      }
      100%{
        height: 0;
        width: 0;
      }
    }
  }
  #element_animation7{
    animation: element7 0.5s ease-in-out 0.9s forwards;
    
    @keyframes element7 {
      0%{
      }
      98%{
        transform: translate(-150px, 150px);
        height: 10px;
        width: 10px;
      }
      99%{
        height:40px;
        weight:40px;
      }
      100%{
        height: 0;
        width: 0;
      }
    }
  }
  #element_animation8{
    animation: element8 0.5s ease-in-out 0.9s forwards;
    
    @keyframes element8 {
      0%{
      }
      98%{
        transform: translate(150px, -150px);
        height: 10px;
        width: 10px;
      }
      99%{
        height:40px;
        weight:40px;
      }
      100%{
        height: 0;
        width: 0;
      }
    }
  }

  .mainbanner__icon{
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    // border: 1px solid;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
  }
  #icon_animation1{
    transform: translate(-150px, -150px);
    animation: 
      icon1 0.5s ease-in-out  1.4s forwards,
      icon1-position 1.5s ease-in-out 1.9s forwards;
    
    border-radius: 0;

    @keyframes icon1 {
      0%{
        width: 0px;
        height: 0px;
      }
      25%{
        width: 60px; height: 60px;
      }
      27%{
        transform: translate(-150px, -150px);
      }
      100%{
        width: 60px; height: 60px;
        transform: translate(-100px, -255px);
      }
    }
    @keyframes icon1-position {
      0%{
        transform: translate(-100px, -255px);
      }
      90%{
        top: 41%;
        bottom: 59%;
        left: 3%;
        right: 97%;
      }
      100%{
        top: 41%;
        bottom: 59%;
        left: 3%;
        right: 97%;
        transform: translate(0px, 0px);
        
      }
    }
  }
  #icon_animation2{
    transform: translate(-150px, -150px);
    animation: 
      icon2 0.5s ease-in-out  1.4s forwards,
      icon2-position 1.5s ease-in-out 1.9s forwards;
    
    @keyframes icon2 {
      0%{
        width: 0px;
        height: 0px;
        border :solid 2px rgb(194, 203, 250);
      }
      25%{
      width: 39px; height: 39px;

      }
      27%{
        transform: translate(-150px, -150px);
        border :solid 2px rgb(194, 203, 250);
      }
      100%{
        width: 39px; height: 39px;
        transform: translate(-180px, -210px);
        border :solid 2px #ff3d00;

      }
    }
    @keyframes icon2-position {
      0%{
        transform: translate(-180px, -210px);
      }
      90%{
        top: 10%;
        bottom: 90%;
        left: 3%;
        right: 97%;
      }
      100%{
        top: 10%;
        bottom: 90%;
        left: 3%;
        right: 97%;
        transform: translate(0px, 0px);
        
      }
    }
  }

  #icon_animation3{
    transform: translate(-150px, -150px);
    animation: 
      icon3 0.5s ease-in-out  1.4s forwards,
      icon3-position 1.5s ease-in-out 1.9s forwards;
    
    @keyframes icon3 {
      0%{
        width: 0px;
        height: 0px;
        border :solid 1px rgb(194, 203, 250);
      }
      25%{
      width: 30px; height: 30px;

      }
      27%{
        transform: translate(-150px, -150px);
        border :solid 1px rgb(194, 203, 250);

      }
      100%{
        width: 30px; height: 30px;
        transform: translate(-245px, -130px);
        border :solid 1px #ff5722;

      }
    }
    @keyframes icon3-position {
      0%{
        transform: translate(-245px, -130px);
      }
      90%{
        top: 25%;
        bottom: 75%;
        left: 5%;
        right: 95%;
      }
      100%{
        top: 25%;
        bottom: 75%;
        left: 5%;
        right: 95%;
        transform: translate(0px, 0px);
        
      }
    }
  }
  #icon_animation4{
    transform: translate(-200px, 0px);
    animation: 
      icon4 0.5s ease-in-out  1.4s forwards,
      icon4-position 1.5s ease-in-out 1.9s forwards;
    
    border-radius: 0;

    @keyframes icon4 {
      0%{
        width: 0px;
        height: 0px;

      }
      25%{
        width: 75px; height: 75px;
      }
      27%{
        transform: translate(-200px, 0px);

      }
      100%{
        transform: translate(-260px, 100px);
        width: 75px; height: 75px;
      }
    }
    @keyframes icon4-position {
      0%{
        transform: translate(-260px, 100px);
      }
      90%{
        top: 21%;
        bottom: 79%;
        left: 0%;
        right: 100%;
      }
      100%{
        top: 21%;
        bottom: 79%;
        left: 0%;
        right: 100%;
        transform: translate(0px, 0px);
        
      }
    }
  }
  #icon_animation5{
    transform: translate(-200px, 0px);
    animation: 
      icon5 0.5s ease-in-out  1.4s forwards,
      icon5-position 1.5s ease-in-out 1.9s forwards;
    
    @keyframes icon5 {
      0%{
        width: 0px;
        height: 0px;
        border :solid 1px rgb(194, 203, 250);

      }
      25%{
        width: 10px; height: 10px;

      }
      27%{
        transform: translate(-200px, 0px);
        border :solid 1px rgb(194, 203, 250);

      }
      100%{
        width: 10px; height: 10px;
        transform: translate(-275px, 0px);
        border: solid 1px #3b00ad;
      }
    }
    @keyframes icon5-position {
      0%{
        transform: translate(-275px, 0px);
      }
      90%{
        top: 33%;
        bottom: 67%;
        left: 3%;
        right: 97%;
      }
      100%{
        top: 33%;
        bottom: 67%;
        left: 3%;
        right: 97%;
        transform: translate(0px, 0px);
        
      }
    }
  }
  #icon_animation6{
    transform: translate(-200px, 0px);
    animation: 
      icon6 0.5s ease-in-out  1.4s forwards,
      icon6-position 1.5s ease-in-out 1.9s forwards;
    
    @keyframes icon6 {
      0%{
        width: 0px;
        height: 0px;
        border :solid 1px rgb(194, 203, 250);

      }
      25%{
        width: 18px; height: 18px;

      }
      50%{
        transform: translate(-200px, 0px);
        border :solid 1px rgb(194, 203, 250);

      }
      100%{
        width: 18px; height: 18px;
        transform: translate(-200px, 190px);
        border: solid 1px #3b00ad;
      }
    }
    @keyframes icon6-position {
      0%{
        transform: translate(-200px, 190px);
      }
      90%{
        top: 58%;
        bottom: 42%;
        left: 4%;
        right: 96%;
      }
      100%{
        top: 58%;
        bottom: 42%;
        left: 4%;
        right: 96%;
        transform: translate(0px, 0px);
        
      }
    }
  }
  #icon_animation7{
    transform: translate(0px, 200px);
    animation: 
      icon7 0.5s ease-in-out  1.4s forwards,
      icon7-position 1.5s ease-in-out 1.9s forwards;
    border-radius: 0;

    @keyframes icon7 {
      0%{
        width: 0px;
        height: 0px;

      }
      25%{
        width: 50px; height: 50px;
      }
      27%{
        transform: translate(0px, 200px);

      }
      100%{
        transform: translate(-90px, 260px);
        width: 50px; height: 50px;
      }
    }
    @keyframes icon7-position {
      0%{
        transform: translate(-90px, 260px);
      }
      90%{
        top: 75%;
        bottom: 25%;
        left: 1%;
        right: 99%;
      }
      100%{
        top: 75%;
        bottom: 25%;
        left: 1%;
        right: 99%;
        transform: translate(0px, 0px);
        width: 50px; height: 50px;
        
      }
    }
  }
  #icon_animation8{
    transform: translate(0px, 200px);
    animation: 
      icon8 0.5s ease-in-out  1.4s forwards,
      icon8-position 1.5s ease-in-out 1.9s forwards;
    
    @keyframes icon8 {
      0%{
        width: 0px;
        height: 0px;
        border :solid 1px rgb(194, 203, 250);

      }
      25%{
        width: 18px; height: 18px;

      }
      50%{
        transform: translate(0px, 200px);
        border :solid 1px rgb(194, 203, 250);

      }
      100%{
        width: 18px; height: 18px;
        transform: translate(90px, 260px);
        border: solid 1px #1f1f1f;
      }
    }
    @keyframes icon8-position {
      0%{
        transform: translate(90px, 260px);
      }
      90%{
        top: 73%;
        bottom: 27%;
        right: 4%;
        left: 96%;
      }
      100%{
        top: 73%;
        bottom: 27%;
        right: 4%;
        left: 96%;
        transform: translate(0px, 0px);
        width: 50px; height: 50px;
        
      }
    }
  }
  #icon_animation9{
    transform: translate(150px, 150px);
    animation: 
      icon9 0.5s ease-in-out 1.4s forwards,
      icon9-position 1.5s ease-in-out 1.9s forwards;
    border-radius: 0;

    @keyframes icon9 {
      0%{
        width: 0px;
        height: 0px;

      }
      25%{
        width: 50px; height: 50px;

      }
      50%{
        transform: translate(150px, 150px);
      }
      100%{
        width: 50px; height: 50px;
        transform: translate(190px, 200px);
      }
    }
    @keyframes icon9-position {
      0%{
        transform: translate(190px, 200px);
      }
      90%{
        top: 90%;
        bottom: 10%;
        right: 6%;
        left: 94%;
      }
      100%{
        top: 90%;
        bottom: 10%;
        right: 6%;
        left: 94%;
        transform: translate(0px, 0px);
        width: 50px; height: 50px;
        
      }
    }

  }
  #icon_animation10{
    transform: translate(150px, 150px);
    animation: 
      icon10 0.5s ease-in-out 1.4s  forwards,
      icon10-position 1.5s ease-in-out 1.9s forwards;
    
    @keyframes icon10 {
      0%{
        width: 0px;
        height: 0px;
        border :solid 1px rgb(194, 203, 250);

      }
      25%{
        width: 36px; height: 36px;

      }
      50%{
        transform: translate(150px, 150px);
        border :solid 1px rgb(194, 203, 250);

      }
      100%{
        width: 36px; height: 36px;
        transform: translate(250px, 120px);
        border: solid 2px #ff5722;
      }
    }
    @keyframes icon10-position {
      0%{
        transform: translate(250px, 120px);
      }
      90%{
        top: 60%;
        bottom: 40%;
        right: 6%;
        left: 94%;
      }
      100%{
        top: 60%;
        bottom: 40%;
        right: 6%;
        left: 94%;
        transform: translate(0px, 0px);
      }
    }
  }
  #icon_animation11{
    transform: translate(150px, 150px);
    animation: 
      icon11 0.5s ease-in-out 1.4s  forwards,
      icon11-position 1.5s ease-in-out 1.9s forwards;
    
    @keyframes icon11 {
      0%{
        width: 0px;
        height: 0px;
        border :solid 1px rgb(194, 203, 250);

      }
      25%{
        width: 12px; height: 12px;

      }
      50%{
        transform: translate(150px, 150px);
        border :solid 1px rgb(194, 203, 250);

      }
      100%{
        width: 12px; height: 12px;
        transform: translate(275px, 30px);
        border: solid 1px #3b00ad;;
      }
    }
    @keyframes icon11-position {
      0%{
        transform: translate(275px, 30px);
      }
      90%{
        top: 55%;
        bottom: 45%;
        right: 2%;
        left: 98%;
      }
      100%{
        top: 55%;
        bottom: 45%;
        right: 2%;
        left: 98%;
        transform: translate(0px, 0px);
      }
    }
  }
  #icon_animation12{
    transform: translate(185px, 0px);
    animation: 
      icon12 0.5s ease-in-out 1.4s  forwards,
      icon12-position 1.5s ease-in-out 1.9s forwards;
    
    border-radius: 0;
    @keyframes icon12 {
      0%{
        width: 0px;
        height: 0px;

      }
      25%{
        width: 40px; height: 40px;

      }
      50%{
        transform: translate(185px, 0px);
      }
      100%{
        width: 40px; height: 40px;
        transform: translate(260px, -90px);
      }
    }
    @keyframes icon12-position {
      0%{
        transform: translate(260px, -90px);
      }
      90%{
        top: 51%;
        bottom: 49%;
        right: 6%;
        left: 94%;
      }
      100%{
        top: 51%;
        bottom: 49%;
        right: 6%;
        left: 94%;
        transform: translate(0px, 0px);
      }
    }
  }
  #icon_animation13{
    transform: translate(185px, 0px);
    animation: 
      icon13 0.5s ease-in-out 1.4s  forwards,
      icon13-position 1.5s ease-in-out 1.9s forwards;
    
    @keyframes icon13 {
      0%{
        width: 0px;
        height: 0px;
        border :solid 1px rgb(194, 203, 250);

      }
      25%{
        width: 49px; height: 49px;

      }
      50%{
        transform: translate(185px, 0px);
        border :solid 1px rgb(194, 203, 250);

      }
      100%{
        transform: translate(190px, -200px);
        border: solid 2px #fec55e;
        width: 49px; height: 49px;

      }
    }
    @keyframes icon13-position {
      0%{
        transform: translate(190px, -200px);
      }
      90%{
        top: 20%;
        bottom: 49%;
        right: 4%;
        left: 96%;
      }
      100%{
        top: 20%;
        bottom: 49%;
        right: 4%;
        left: 96%;
        transform: translate(0px, 0px);
      }
    }
  }
  #icon_animation14{
    transform: translate(185px, 0px);
    animation: 
      icon14 0.5s ease-in-out 1.4s  forwards,
      icon14-position 1.5s ease-in-out 1.9s forwards;
    
    @keyframes icon14 {
      0%{
        width: 0px;
        height: 0px;
        border :solid 1px rgb(194, 203, 250);

      }
      25%{
        width: 18px; height: 18px;

      }
      50%{
        transform: translate(185px, 0px);
        border :solid 1px rgb(194, 203, 250);

      }
      100%{
        width: 18px; height: 18px;
        transform: translate(40px, -270px);
        border: solid 1px #1f1f1f;

      }
    }
    @keyframes icon14-position {
      0%{
        transform: translate(40px, -270px);
      }
      90%{
        top: 30%;
        bottom: 70%;
        right: 7%;
        left: 93%;
      }
      100%{
        top: 30%;
        bottom: 70%;
        right: 7%;
        left: 93%;
        transform: translate(0px, 0px);
      }
    }
  }
  .mainbanner__lefticon{
    position: relative;
    width: 100%;
    height: 100%;
    // animation: lefticon 1s ease-in-out forwards;
    // animation-delay: 2s;
    // @keyframes lefticon {
    //   0%{}
    //   100%{
    //     width: 15vw;
    //     margin-left:0vw;
    //   }
    // }
  }
  .mainbanner__righticon{
    // position: relative;
    // width: 100%;
    // height: 100%;
    // animation: righticon 1s ease-in-out forwards;
    // animation-delay: 2s;
    // @keyframes righticon {
    //   0%{}
    //   100%{
    //     width: 15vw;
    //     margin-right:0vw;
    //   }
    // }
  }
  .mainbanner__background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
    // border: 1px solid;
  }
  @keyframes fade-in1 {
    0%{
      opacity: 0;
      transform: translate(300px);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }  @keyframes fade-in2 {
    0%{
      opacity: 0;
      transform: translate(-300px);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }
  .mainbanner__oval1 {
    top: -30px;
    width: 97%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: fade-in2 2s ease-in 3s forwards ;
    background-size: 2600px 600px;
    overflow:visible;
    z-index: 0;
    // background-color: black;
  }
  .mainbanner__oval2 {
    top: -50px;
    right: 0;
    width: 80%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: fade-in1 2s ease-in 3s forwards;
    z-index: 0;

  }
  .mainbanner__text{
    position: absolute;
    overflow: hidden;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 0;
    width: 0;
    left: 0%;
    // border: 1px solid black;

    animation: text-display 2s ease-in 3s forwards;
    @keyframes text-display {
      0%{width: fit-content;
        // border-bottom: 1px solid rgba(0, 0, 0, 0);
      }
      12%{height: 45px;}
      25%{height: 45px;}
      37%{height: 170px;}
      50%{height: 170px;}
      67%{height: 310px;}
      75%{height: 310px;}
      87%{
        height: 380px;
        width: fit-content;
        // border-bottom: 1px solid;

      }
      100%{
        height: 380px;
        width: fit-content;
        // border-bottom: 1px solid rgba(0, 0, 0, 0);
      }
    }
  }
  .mainbanner__textcont {
    position: relative;
    // border: 1px solid black;
    height: fit-content;
    width: 70%;
    margin: auto;
    // margin-top: 190px;
    display: flex;
    
  }
  .mainbanner__Header1 {
    font-size: clamp(25px, 8vw, 40px);
    font-weight: bold;
    color: #ff3d00;
  }
  .mainbanner__Header2 {
    margin-top: 5px;
    font-size: clamp(25px, 8vw, 40px);
    font-weight: bold;
    line-height: 1.27;
    color: #1f1f1f;
    max-width: 400px;
    // border: 1px solid;

  }
  .mainbanner__body {
    margin-top: 30px;
    max-width: 370px;
    // border: 1px solid;
    font-family: Verdana;
    font-size: clamp(12px,7vw,15px);
    line-height: 1.63;
    color: #747474;
  }
  .mainbanner__photo1 {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 60%;
    max-width: 650px;
    height: 380px;
    // border: 1px solid black;
    // background-color: lightgrey;
    background-color: rgb(218, 223, 253);
    margin: auto;
    // margin-top: -40px;
    // margin-right: 0;
    transform: rotate(45deg);
    animation: 
      photo-pop 1s ease-in-out 0s forwards,
      photo_larger 1s linear 2s forwards;
    @keyframes photo-pop {
      0%{
        transform: rotate(45deg);
        width: 0px;
        height: 0px;
      }
      90%{
        width: 60px;
        height: 60px;
        transform: rotate(0deg);  
        border-radius: 20%;
      }
      95%{
        width: 15px;
        height: 15px;
      }
      100%{
        width: 30px;
        height: 30px;
        transform: rotate(0deg);  

      }
    }
    @keyframes photo_larger {
      30%{
        height: 420px ;
        width: 30px;
        border-radius: 50px;
      }
      60%{
        // height: 420px ;
        width: 50% ;
        left: 0%;
      }
      80%{
        width: 50% ;
        left: 0%;
      }
      100%{
        height: 420px ;
        width: 50% ;
        left: 50%;
        right: 0%;
      }
    }
  }
  .mainbanner__btn {
    margin-top: 20px;
    color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #3b00ad;
    width: fit-content;
    padding: 10px 35px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  .mainbanner__shape1 {
    position: absolute;
    background-color: #f9faff;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 90%;
    transition: all 1s ease-in-out;
    width: 90%;
    // animation: morph1 5s ease-in-out forwards;
    @keyframes morph1 {
      0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }
      50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      }
      75%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }
      90%{
        background-color: rgba(249,250,255,1);

      }
      100% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background-color: rgba(249,250,255,0);
      }
    }
  }
  .mainbanner__shape2 {
    position: absolute;
    background-color: #edf0ff;
    border-radius: 25% 90% 25% 50% / 90% 40% 60% 40%;
    height: 81%;
    transition: all 1s ease-in-out;
    width: 72%;
    margin: auto;
    top: 0;
    right: 0;
    // animation: morph2 5s ease-in-out forwards;
    @keyframes morph2 {
      0% {
        border-radius: 25% 90% 25% 50% / 90% 40% 60% 40%;
      }
      50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      }
      75%{
        border-radius: 25% 90% 25% 50% / 90% 40% 60% 40%;
      }
      90%{
        background-color: rgba(237,240,255,1);

      }
      100% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background-color: rgba(237,240,255,0);
      }
    }
  }
}
@media screen and (max-width:1085px) {
  .mainbanner{
    .mainbanner__textcont{
      width: 80%;
    }
  }
}

@media screen and (max-width:930px) {
  .mainbanner{
    .mainbanner__oval1, .mainbanner__oval2{
      display: none;
    }
    .mainbanner__background{
      width: 90%;
      margin: auto;
      left: 0;
      right: 0;
    }
    min-height: 800px;
    height: fit-content;
    margin-bottom:100px;
    .mainbanner__textcont{
      flex-direction: column-reverse;
      // margin-top: 200px;
      // border: 1px solid;
      position: static;
      width: 90%;

    }
    .mainbanner__text{
      max-width: 600px;
      width: fit-content;
      margin: auto;
      position: static;
      // border: 1px solid;
      z-index: 998;
      right: 0;

      @keyframes text-display {
        0%{width: fit-content;
          // border-bottom: 1px solid rgba(0, 0, 0, 0);
        }
        12%{height: 45px;}
        25%{height: 45px;}
        37%{height: 170px;}
        50%{height: 170px;}
        67%{height: 310px;}
        75%{height: 310px;}
        87%{
          height: 380px;
          width: fit-content;
          // border-bottom: 1px solid;
  
        }
        100%{
          height: 380px;
          width: fit-content;
          background-color: rgba(255, 255, 255, 0.9);
          // border-bottom: 1px solid rgba(0, 0, 0, 0);
        }
      }
    }
    .mainbanner__photo1{
      // margin: auto;
      // margin-bottom: 30px;
      width: 100%;
      // height: 600px;
      position: static;
      left: 0; right: 0;
      width: 100%;
    }
    .mainbanner__body{
      max-width: 100%;
    }
    .mainbanner__btn{
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .mainbanner__photo1{
      margin-top: 50px;
      margin-bottom: 50px;
      
      @keyframes photo_larger {
        30%{
          height: 400px ;
          width: 30px;
          border-radius: 50px;
        }
        60%{
          // height: 420px ;
          width: 50% ;
          left: 0%;
        }
        80%{
          width: 100% ;
          left: 0%;
        }
        100%{
          height: 400px ;
          width: 100% ;
          left: 50%;
          right: 50%;
        }
      }
    }
  }
}
@media screen and (max-width:470px) {
  .mainbanner{
    .mainbanner__text{
      max-width: 310px;
      @keyframes text-display {
        0%{width: fit-content;
        }
        12%{height: 45px;}
        25%{height: 45px;}
        37%{height: 170px;}
        50%{height: 170px;}
        67%{height: 310px;}
        75%{height: 310px;}
        87%{
          height: 450px;
          width: fit-content;
        }
        100%{
          height: 450px;
          width: fit-content;
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }
    .mainbanner__Header2{
      max-width: 300px;
    }
  }
}
@media screen and (max-width:410px) {
  .mainbanner{
    .mainbanner__text{
      @keyframes text-display {
        0%{width: fit-content;
        }
        12%{height: 45px;}
        25%{height: 45px;}
        37%{height: 130px;}
        50%{height: 130px;}
        67%{height: 310px;}
        75%{height: 310px;}
        87%{
          height: 450px;
          width: fit-content;
  
        }
        100%{
          height: 450px;
          width: fit-content;
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}
@media screen and (max-width:375px) {
  .mainbanner{
    .mainbanner__photo1{
      @keyframes photo_larger {
        30%{
          height: 300px ;
          width: 30px;
          border-radius: 50px;
        }
        60%{
          // height: 420px ;
          width: 50% ;
          left: 0%;
        }
        80%{
          width: 50% ;
          left: 0%;
        }
        100%{
          height: 300px ;
          width: 100% ;
          left: 50%;
          right: 0%;
        }
      }
    }
  }
}
@media screen and (max-width:320px) {
  .mainbanner{
    .mainbanner__text{
      @keyframes text-display {
        0%{width: fit-content;
        }
        12%{height: 35px;}
        25%{height: 35px;}
        37%{height: 110px;}
        50%{height: 110px;}
        67%{height: 320px;}
        75%{height: 320px;}
        87%{
          height: 450px;
          width: fit-content;
  
        }
        100%{
          height: 450px;
          width: fit-content;
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}