.mainbanner {
  width: 100%;
  max-width: 1680px;
  height: 630px;
  background-color: white;
  // border: 1px solid black;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  .mainbanner__background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .mainbanner__oval1 {
    top: -30px;
    width: 97%;
    height: 100%;
    position: absolute;
    // background-size: 2600px 600px;
    // background-color: black;
  }
  .mainbanner__oval2 {
    top: -50px;
    right: 0;
    width: 80%;
    height: 100%;
    position: absolute;
  }
  .mainbanner__textcont {
    position: relative;
    // border: 1px solid black;
    width: 70%;
    margin: auto;
    // margin-right: 0;
    margin-top: 190px;
    display: flex;
  }
  .mainbanner__Header1 {
    font-size: 41px;
    font-weight: bold;
    color: #ff3d00;
  }
  .mainbanner__Header2 {
    margin-top: 5px;
    font-size: 41px;
    font-weight: bold;
    line-height: 1.27;
    color: #1f1f1f;
    max-width: 300px;
    // border: 1px solid;
  }
  .mainbanner__body {
    margin-top: 30px;
    max-width: 370px;
    // border: 1px solid;
    font-family: Verdana;
    font-size: 16px;
    line-height: 1.63;
    color: #747474;
  }
  .mainbanner__photo {
    margin-left: 35px;
    width: 60%;
    max-width: 650px;
    height: 380px;
    // border: 1px solid black;
    background-color: lightgrey;
    margin: auto;
    margin-top: -40px;
    margin-right: 0;
  }
  .mainbanner__btn {
    margin-top: 20px;
    color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #3b00ad;
    width: fit-content;
    padding: 10px 35px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  .mainbanner__shape1 {
    position: absolute;
    background-color: #f9faff;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 100%;
    transition: all 1s ease-in-out;
    width: 100%;
    animation: morph1 8s ease-in-out infinite;
    @keyframes morph1 {
      0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }

      50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      }

      100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }
    }
  }
  .mainbanner__shape2 {
    position: absolute;
    background-color: #edf0ff;
    border-radius: 25% 90% 25% 50% / 90% 40% 60% 40%;
    height: 90%;
    transition: all 1s ease-in-out;
    width: 80%;
    margin: auto;
    top: 0;
    right: 0;
    animation: morph2 5s ease-in-out reverse infinite;
    @keyframes morph2 {
      0% {
        border-radius: 25% 90% 25% 50% / 90% 40% 60% 40%;
      }

      50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      }

      100% {
        border-radius: 25% 90% 25% 50% / 90% 40% 60% 40%;
      }
    }
  }
}
@media screen and (max-width:1280px) {
  .mainbanner{
    .mainbanner__textcont{
      width: 90%;
    }
    .mainbanner__Header2{
      max-width: 100%;
    }
  }
}

@media screen and (max-width:800px) {
  .mainbanner{
    height: fit-content;

    .mainbanner__textcont{
      flex-direction: column-reverse;
      margin-top: 20px;
    }
    .mainbanner__photo{
      margin: auto;
      margin-bottom: 30px;
      width: 100%;
    }
    .mainbanner__body{
      max-width: 100%;
    }
    .mainbanner__btn{
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .mainbanner__oval1{
      top:270px;
    }
    .mainbanner__oval2{
      top:300px;

    }
  }
}