.Nav{

}
.Desktop__Nav {
  width: 100vw;
  height: 70px;
  // border: 1px solid;
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  .Desktop__Nav__wrapper {
    width: 100%;
    height: 100%;
    max-width: 1680px;
    display: flex;
    margin: auto;
  }
  .Desktop__Nav__pageWrapper {
    // border: 1px solid;
    margin: auto;
    margin-left: 0;
    width: 70%;
    height: 100%;
    display: flex;
  }
  .Desktop__Nav__logoCont {
    height: 100%;
    width: 19%;
    // border: 1px solid;
    box-sizing: border-box;
    display: flex;
    margin-left: 0;
    margin-right: auto;
  }
  .Desktop__Nav__logo {
    margin: auto;
    margin-right: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #1f1f1f;
  }
  .Desktop__Nav__pageCont {
    // border: 1px solid;
    height: 100%;
    width: fit-content;
    margin-right: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .Desktop__Nav__page {
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      color: #3b00ad;
      transition: color 0.2s;
      .Desktop__Nav__currentPage {
        width: 10px;
        transition: width 0.2s;
      }
    }
  }
  .Desktop__Nav__Facebook {
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    color: #3b00ad;
  }
  .Desktop__Nav__search {
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    color: #333333;
    opacity: 0.7;
  }
  .Desktop__Nav__pageSection {
    // border: 1px solid red;
    width: 70%;
    height: 100%;
    margin: auto;
    // margin-right: 0;
    display: flex;
    justify-content: space-between;
  }
  .Desktop__Nav__currentPage {
    position: absolute;
    width: 0;
    height: 4px;
    background-color: #ff3d00;
  }
}
.Mobile__Nav{
  width: 100%;
  
}

@media screen and (max-width:780px) {
  .Desktop__Nav{
    display: none;
  }
}
