.PhotoBanner {
  margin: auto;
  margin-top: 30px;
  // margin-bottom: 600px;
  width: 100%;
  padding-bottom: 60px;
  // height: 400px;
  // border: 1px solid black;
  .PhotoBanner__background {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 600px;
    // border: 1px solid;
  }
  .PhotoBanner__backgroundbg {
    position: absolute;
    width: 100vw;
    height: 100%;
    max-height: 600px;
    object-fit: fill;
    // border: 1px solid;
    overflow: hidden;
  }
  .PhotoBanner__vawe1 {
    position: absolute;
    width: calc(100vw + 1000px);
    left: -1000px;
    height: 100%;
    top: 0px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  .PhotoBanner__vawe2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -150px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  .PhotoBanner__bg {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 600px;
    background-size: contain;
    // background-position: center;
    background-repeat: no-repeat;
  }
  .PhotoBanner__wrapper {
    margin: auto;
    max-width: 1680px;
    width: 100%;
    // border: 1px solid;
    display: flex;
  }
  .PhotoBanner__cont__type1 {
    position: relative;
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    // border: 1px solid;

  }
  .PhotoBanner__cont__type2 {
    position: relative;
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    // border: 1px solid green;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
  }
  .PhotoBanner__cont__type3 {
    position: relative;
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    // border: 1px solid red;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    // margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .PhotoBanner__cont__type4 {
    // border: 1px solid red;
    position: relative;
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    margin-top: 80px;

    .PhotoBanner__textcont{
      margin: auto;
      
    }
    .PhotoBanner__header1{
      font-size: 36px;
    }
    .PhotoBanner__header2 {
      font-size: 35px;
      font-weight: bold;
      color: #3b00ad;
      margin-top: 0px;
      display: flex;
      // border: 1px solid;
      text-align: left;
    }

    .PhotoBanner__btn{
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
      background-color: #ff3d00;
    }
  }
  .PhotoBanner__photo {
    background-color: lightgrey;
    width: 45%;
    max-width: 680px;
    min-width: 220px;
    height: 440px;
    margin-bottom: auto;
    margin-top: 80px;
  }
  .PhotoBanner__textcont {
    // border: 1px solid black;
    // margin: auto;
    margin-top: 140px;
    // width: 50%;
  }
  .PhotoBanner__header1 {
    font-size: 41px;
    font-weight: bold;
    line-height: 1.42;
    color: #1f1f1f;
    max-width: 400px;
  }
  .PhotoBanner__header2 {
    font-size: 35px;
    font-weight: bold;
    color: #ff3d00;
    max-width: 400px;
    margin-top: 15px;
  }
  .PhotoBanner__body {
    font-size: 16px;
    line-height: 1.63;
    color: #747474;
    max-width: 430px;
    margin-top: 15px;
  }
  .PhotoBanner__btn {
    margin-top: 35px;
    color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #3b00ad;
    width: fit-content;
    padding: 10px 35px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    &.orange {
      background-color: #ff3d00;
    }
    &.bg {
      // width: 358px;
      margin: auto;
      
      padding: 17px 70px;
      text-align: center;
      font-weight: bold;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }
  .PhotoBanner__blockcont {
    // border: 1px solid black;
    width: fit-content;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    &.type4 {
      width: 45%;
      // border: 1px solid red;
      .PhotoBanner__blockWrapper {
        max-width: 400px;
        width: 100%;
        margin: auto;
        // margin-right: 0;
        .PhotoBanner__block:last-child {
          border-bottom: none;
          // padding-top: 40px;
        }
        .PhotoBanner__block {
          // font-size: 24px;
          box-shadow: none;
          border-bottom: 1px solid #f2f2f2;
          box-sizing: border-box;
          padding-top: 10px;
          padding-bottom: 10px;
          max-height: 30px;
          
          // &:hover {
          //   color: #ff3d00;
          //   max-height: 400px;
          // }
          .PhotoBanner__block__body {
            font-style: normal;
            line-height: 1.63;
            font-size: 16px;
            display: flex;
            flex-direction: column;

          }
        }
      }
    }
    .PhotoBanner__blockWrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      // border: 1px solid black;
      width: 100%;
      max-width: 320px;
    }

    .PhotoBanner__block {
      padding: 15px 0px;
      box-sizing: border-box;
      border-left: 21px solid rgba(0, 0, 0, 0);
      border-right: 21px solid rgba(0, 0, 0, 0);
      border-radius: 12px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.22);
      background-color: #ffffff;
      width: 100%;
      margin-bottom: 20px;
      cursor: pointer;
      overflow: hidden;
      max-height: 45px;
      font-weight: bold;
      transition: max-height 0.5s;
      
      .PhotoBanner__block__body {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.63;
        color: #747474;
      }
    }
    .PhotoBanner__block__active{
      padding: 15px 0px;
      box-sizing: border-box;
      border-left: 21px solid rgba(0, 0, 0, 0);
      border-right: 21px solid rgba(0, 0, 0, 0);
      border-radius: 12px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.22);
      background-color: #ffffff;
      width: 100%;
      margin-bottom: 20px;
      cursor: pointer;
      overflow: hidden;
      max-height: 45px;
      font-weight: bold;
      max-height: 300px;
      transition: max-height 0.5s;
      .PhotoBanner__block__body {
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.63;
        color: #747474;
      }
    }
    .PhotoBanner__footer {
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      color: #3b00ad;
      cursor: pointer;
    }
  }
  .PhotoBanner__type5__cont{
    display: flex;
    margin-top: 30px;
    // border: 1px solid;
  }
  .PhotoBanner__type5__col{
    display: flex;
    flex-direction: column;
    max-width: 180px;
    // border: 1px solid;
  }
  .PhotoBanner__type5__divider{
    width: 1px;
    height: 100px;
    background-color: #d8d8d8;
    // background-color: black;
    margin: auto;
  }
  .PhotoBanner__type5__text{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #1f1f1f;
  }
  .PhotoBanner__type5__num{
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    color: #3b00ad;
  }

  .learnmore {
    color: #3b00ad;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 1680px) {
  .PhotoBanner {
    .PhotoBanner__vawe1 {
      background-size: contain;
      background-position: top;
      top: 0px;
      left: 0;
      width: 100%;
    }
    .PhotoBanner__vawe2 {
      background-size: contain;
      top: 50px;
    }
  }
}
@media screen and (max-width: 1500px) {
  .PhotoBanner {
    .PhotoBanner__cont__type1,
    .PhotoBanner__cont__type2,
    .PhotoBanner__cont__type3,
    .PhotoBanner__cont__type4,
    .PhotoBanner__cont__type5,
    .PhotoBanner__cont__type6{
      width: 90%;
      justify-content: space-between;
    }
    .PhotoBanner__blockcont {
      margin: auto;
    }
  }
}

@media screen and (max-width: 980px) {
  .PhotoBanner{
    .PhotoBanner__cont__type1,
    .PhotoBanner__cont__type2,
    .PhotoBanner__cont__type3,
    .PhotoBanner__cont__type4,
    .PhotoBanner__cont__type5,
    .PhotoBanner__cont__type6{
      display: flex;
      flex-direction: column;
    }
    .PhotoBanner__photo{
      width: 100%;
    }
    .PhotoBanner__header2{
      max-width: 1000px;
    }
    .PhotoBanner__body{
      max-width: 1000px;
    }
  }
}