.PriceCardBanner {
  width: 100%;
  max-width: 1680px;
  margin: auto;
  margin-bottom: 50px;
  padding-bottom: 40px;
  // background-color: black;
  .PriceCardBanner__cont {
    width: 70%;
    margin: auto;
    // border: 1px solid;
  }
  .PriceCardBanner__header {
    width: fit-content;
    margin: auto;
    font-size: clamp(16px, 7vw, 31px);
    font-weight: bold;
    text-align: center;
    color: #1f1f1f;
  }
  .PriceCardBanner__body {
    font-size: clamp(12px, 2vw, 15px);
    line-height: 1.5;
    text-align: center;
    color: #747474;
    max-width: 550px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .PriceCardBanner__cardcont {
    width: 100%;
    padding-top: 50px;
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .PriceCardBanner__card {
    padding-top: 25px;
    padding-bottom: 25px;
    box-sizing: border-box;
    box-shadow: 3px 1px 8px 0 rgba(0, 0, 0, 0.1);
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    background-color: #edf0ff;
    width: 310px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 595px;
    margin-top: 0;
    margin-bottom: 30px;
    .PriceCardBanner__card__tier {
      margin-top: 30px;
      font-size: clamp(15px, 4vw, 22px);
      font-weight: bold;
      text-align: center;
      color: #1f1f1f;
      width: 100%;
    }
    .PriceCardBanner__card__dashSmall {
      border-bottom: 3px solid;
      color: #3b00ad;
      width: 10px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .PriceCardBanner__card__dashBig {
      border-bottom: 2px solid;
      color: rgba(116, 116, 116, 0.5);

      width: 70%;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .PriceCardBanner__card__price {
      text-align: center;
      font-size: clamp(25px, 7vw, 40px);
      letter-spacing: 0.05em;
      font-weight: bold;
      color: #1f1f1f;
    }
    .PriceCardBanner__card__per {
      font-size: clamp(12px, 2vw, 15px);
      line-height: 1.5;
      text-align: center;
      color: #747474;
    }
    .PriceCardBanner__card__checkcont {
      width: 80%;
      margin: auto;
      margin-top: 5px;
      margin-bottom: 0;
      // border: 1px solid;
    }
    .PriceCardBanner__checklist {
      display: flex;
      margin-top: 15px;
      margin-left: 18px;
    }
    .PriceCardBanner__check {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      .priceCardBanner__svg__outerLayer {
        width: 100%;
        height: 100%;
      }
    }
    .PriceCardBanner__list {
      font-size: clamp(12px, 2vw, 15px);
      color: #1f1f1f;
      margin-top: 6px;
    }
    .PriceCardBanner__subscribe {
      margin: auto;
      margin-top: 40px;
      margin-bottom: 50px;
      background-color: #3b00ad;
      padding: 12px 35px;
      color: #ffffff;
      font-size: clamp(12px, 2vw, 15px);
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        background-color: #501abd;
      }
    }
    &:hover {
      @keyframes cardhover {
        0% {
        }
        100% {
          background-color: #3b00ad;
          margin-top: -30px;
        }
      }
      animation: cardhover 0.5s forwards;
      .PriceCardBanner__subscribe {
        background-color: #ff3d00;
        transition: background-color 0.5s ease;
        &:hover {
          animation: subhover 1s linear infinite;
          @keyframes subhover {
            0% {
              background-color: #ff3d00;
            }
            50% {
              background-color: rgb(255, 123, 82);
            }
            100% {
              background-color: #ff3d00;
            }
          }
        }
      }
      .PriceCardBanner__card__tier {
        color: #ffffff;
        transition: color 0.5s ease;
      }
      .PriceCardBanner__card__per {
        color: rgba(255, 255, 255, 0.68);
        transition: color 0.5s ease;
      }
      .PriceCardBanner__card__price {
        color: #ffffff;
        transition: color 0.5s ease;
      }
      .PriceCardBanner__check {
        color: #ff3d00;
        transition: color 0.5s ease;
      }
      .PriceCardBanner__list {
        transition: color 0.5s ease;
        color: #ffffff;
      }
      .PriceCardBanner__card__dashSmall {
        transition: color 0.5s ease;
        color: #ff3d00;
      }
    }
  }
}
@media screen and (max-width: 1335px) {
  .PriceCardBanner {
    .PriceCardBanner__cont {
      width: 90%;
    }
  }
}
@media screen and (max-width: 1033px) {
  .PriceCardBanner {
    .PriceCardBanner__cont {
      .PriceCardBanner__cardcont {
        justify-content: space-around;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .PriceCardBanner {
    .PriceCardBanner__cont {
      .PriceCardBanner__card {
        padding-top: 0;
        padding-bottom: 0;
        height: 540px;
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .PriceCardBanner {
    .PriceCardBanner__cont {
      .PriceCardBanner__card {
        height: 490px;
      }
    }
  }
}
@media screen and (max-width: 280px) {
  .PriceCardBanner__cardcont {
    .PriceCardBanner__card {
      .PriceCardBanner__subscribe {
        margin-top: 20px;
      }
    }
  }
}
