.contt__wrapper {
  width: 100vw;
  display: flex;
  // display: none;
  flex-direction: column;
  height: 400px;
  position: relative;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.contt__cont__top {
  width: 100%;
  height: 100%;
  margin-bottom: -230px;
  z-index: 2;
  background-image: url(https://jkconstruction.s3.us-west-1.amazonaws.com/ssumCo/modules/topBanner/topBannerBackground1.png);
  // background-size: cover;
  background-size: 4000px 600px;
  background-position-x: center;
  background-position-y: 120%;
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.contt__cont__bot {
  width: 100%;
  height: 100%;
  background-image: url(https://jkconstruction.s3.us-west-1.amazonaws.com/ssumCo/modules/topBanner/topBannerBackoground2.png);
  background-size: 4000px 600px;
  background-position-x: center;
  background-repeat: no-repeat;
  position: absolute;
  background-position-y: 102%;
  top: 0;
  left: 0;
}
.contt__cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  max-width: 1680px;
  height: 314px;
}
.txt__cont {
  display: flex;
  flex-direction: column;
  margin-left: 252px;
  margin-top: 31px;
  width: 48%;
}
.title__cont {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.27;
  margin-bottom: 15px;
  .mobile__title__cont {
    display: none;
  }
}
.breadCrumb__cont {
  color: #747474;
  line-height: 1.63;
}
.img__cont {
  width: 420px;
  height: 250px;
  position: relative;
  margin-right: 40px;
  div {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .cube:first-child {
    right: 0;
    top: 32px;
  }
  div:nth-child(9) {
    margin-left: 100px;
    top: 67px;
  }
}
.chat {
  background-image: url("https://jkconstruction.s3.us-west-1.amazonaws.com/ssumCo/modules/icons/chat.png");
  &.sm {
    width: 50px;
    height: 50px;
    left: 50px;
  }
  &.big {
    width: 55px;
    height: 55px;
    right: 53px;
    bottom: 94px;
  }
}
.msg {
  background-image: url("https://jkconstruction.s3.us-west-1.amazonaws.com/ssumCo/modules/icons/msg.png");
  width: 55px;
  height: 55px;
  top: -13px;
  left: 178px;
}
.cube {
  background-image: url("https://jkconstruction.s3.us-west-1.amazonaws.com/ssumCo/modules/icons/cube.png");
  &.sm {
    width: 50px;
    height: 50px;
  }
  &.big {
    width: 55px;
    height: 55px;
    bottom: 0px;
    right: 150px;
  }
}
.check {
  background-image: url("https://jkconstruction.s3.us-west-1.amazonaws.com/ssumCo/modules/icons/check.png");
  width: 55px;
  height: 55px;
  left: 186px;
  top: 113px;
}
.circle {
  border-radius: 100px;
  &.red {
    border: 2px solid red;
    &.big {
      height: 25px;
      width: 25px;
      right: 80px;
    }
    &.sm {
      width: 10px;
      height: 10px;
      top: 55px;
      left: 164px;
    }
  }
  &.blue {
    border: 2px solid #376cfb;
    &.sm {
      width: 10px;
      height: 10px;
      left: 0;
      top: 100px;
    }
  }
  &.yellow {
    border: 2px solid #ffd27c;
    &.big {
      width: 30px;
      height: 30px;
      left: 58px;
      top: 117px;
    }
  }
  &.purple {
    border: 2px solid purple;
    &.big {
      width: 20px;
      height: 20px;
      right: 144px;
      top: 67px;
    }
    &.sm {
      width: 10px;
      height: 10px;
      bottom: 41px;
      left: 156px;
    }
  }
}
@media only screen and (max-width: 1650px) {
  .txt__cont {
    margin-left: 137px;
  }
}
@media only screen and (max-width: 990px) {
  .txt__cont {
    margin-left: 65px;
  }
  .img__cont {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 640px) {
  .img__cont {
    width: 48%;
  }
  .txt__cont {
    margin-left: 35px;
  }
}
@media only screen and (max-width: 539px) {
  .contt__wrapper {
    height: calc(100vh - 25px);
    .contt__cont__top,
    .contt__cont__bot {
      display: none;
    }
    .contt__cont {
      justify-content: center;
      .img__cont {
        display: none;
      }
      .txt__cont {
        margin-left: 0;
        width: calc(100vw - 40px);
        transform: translate(-50%, -50%);
        height: 100vh;
        left: 50%;
        top: 50%;
        position: absolute;
        @keyframes showTopText {
          0% {
            transform: translate3d(0, 100%, 0);
            // bottom: -400px;
          }
          40%,
          60% {
            transform: translate3d(0, 61%, 0);
          }
          100% {
            transform: translate3d(0, 0, 0);
            // bottom: 0;
          }
        }
        @keyframes showBottomText {
          0% {
            transform: translate3d(0, -100%, 0);
          }
          100% {
            transform: translate3d(0, 0, 0);
          }
        }
        .title__cont {
          display: flex;
          flex-direction: column;
          height: 50%;
          overflow: hidden;
          position: absolute;
          top: 0;
          border-bottom: 1vmin solid #000;
          width: 100%;
          span:first-child {
            display: none;
          }
          .mobile__title__cont {
            position: absolute;
            animation: showTopText 1s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
            bottom: 0;
            transform: translate(0, 100%);
            // bottom: -400px;

            display: block;
            span {
              display: block;
              &:first-child {
                color: #747474;
              }
            }
          }
        }
        .breadCrumb__cont {
          bottom: -5px;
          height: 50%;
          overflow: hidden;
          position: absolute;
          width: 100%;
          span {
            animation: showBottomText 0.5s;
            animation-delay: 1.75s;
            animation-fill-mode: forwards;
            top: 0;
            transform: translate(0, -100%);
            position: absolute;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 780px) {
  
}
@media only screen and (max-width: 320px) {
  .title__cont {
    font-size: 40px;
  }
  .breadCrumb__cont {
    font-size: 14px;
  }
}
