.case__wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  .contt__wrapper {
    width: 100%;
    max-width: 1176px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .detail__imgs__cont {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
      .img__cont {
        width: 550px;
        height: 400px;
        background-color: lightgray;
        margin-bottom: 20px;
      }
    }
    .detail__contt__cont {
      width: 45%;
      display: flex;
      flex-direction: column;
      .title__cont {
        font-size: clamp(23px, 7vw, 41px);
        font-weight: bold;
      }
      .txt__cont {
        color: #747474;
        font-size: clamp(15px, 2vw, 18px);
        line-height: 1.5;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .description__cont {
        font-size: clamp(15px, 2vw, 19px);
        margin-bottom: 40px;
        display: flex;
        div {
          font-weight: bold;
          margin-right: 15px;
          width: 75px;
          min-width: 75px;
        }
      }
    }
  }
  .cases__cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding-top: 80px;
    padding-bottom: 90px;
    .title__cont {
      font-size: clamp(23px, 7vw, 41px);
      font-weight: bold;
      text-align: center;
      margin-bottom: 45px;
    }
    .contt__cont {
      display: flex;
      flex-wrap: wrap;
      max-width: 1176px;
      width: 100%;
      .case__cont {
        width: 294px;
        height: 250px;
        background-color: lightgray;
      }
    }
  }
  .questionForm__wrapper {
    display: flex;
    justify-content: center;
    max-width: 1176px;
    width: 100%;
    margin-top: 150px;
  }
}
@media only screen and (max-width: 1485px) {
  .case__wrapper {
    .questionForm__wrapper {
      max-width: 810px;
    }
  }
}
@media only screen and (max-width: 1200px) {
  #mobile__contt__wrapper,
  #mobile__cases__cont {
    width: 90%;
  }
  #mobile__cases__cont {
    .contt__cont {
      justify-content: space-between;
      .case__cont {
        width: 250px;
        margin-bottom: 15px;
      }
    }
  }
}
@media only screen and (max-width: 1124px) {
  #mobile__contt__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    .detail__contt__cont {
      width: 90%;
    }
    .detail__imgs__cont {
      width: 80%;
      align-items: center;
      .img__cont {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 560px) {
  #mobile__cases__cont {
    .contt__cont {
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 468px) {
  #mobile__contt__wrapper {
    .detail__imgs__cont {
      .img__cont {
        height: 271px;
      }
    }
    .detail__contt__cont {
      .description__cont {
        div {
          margin-right: 0px;
        }
      }
    }
  }
}
@media only screen and (max-width: 414px) {
  .case__wrapper {
    .questionForm__wrapper {
      width: 90%;
    }
  }
}
@media only screen and (max-width: 360px) {
  #mobile__contt__wrapper {
    .detail__contt__cont {
      .description__cont {
        flex-direction: column;
        margin-bottom: 20px;
        div {
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  #mobile__contt__wrapper {
    .detail__imgs__cont {
      .img__cont {
        height: 190px;
      }
    }
  }
}
