.contactUs__wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactUs__contt__wrapper {
  max-width: 1680px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map__cont {
  width: 70%;
  height: 400px;
  background-color: gray;
  margin-bottom: 100px;
  margin-top: 100px;
  background-image: url("https://jkconstruction.s3.us-west-1.amazonaws.com/ssumCo/modules/ssumCoMap.png");
  background-size: cover;
}
@media only screen and (max-width: 1200px) {
  .map__cont {
    width: 90%;
  }
}
