.services__wrapper {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  .contt__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1176px;
    margin-bottom: 40px;
    .title__cont {
      font-size: clamp(23px, 6.7vw, 41px);
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
    }
    .text__cont {
      color: #747474;
      font-size: clamp(15px, 2vw, 18px);
      line-height: 1.5;
      text-align: center;
      width: 55%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .cards__cont {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      .card__cont {
        display: flex;
        flex-direction: column;
        width: 350px;
        align-items: center;
        text-align: center;
        overflow: hidden;
        height: 240px;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 1px solid transparent;
        &:hover {
          max-height: 259px;
          border-radius: 12px;
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
          background-color: #ffffff;
          .link__cont {
            display: flex;
          }
        }
      }
      .header__cont {
        width: 50px;
        height: 50px;
        box-shadow: 1px 1px 4px 0 rgba(31, 31, 31, 0.18);
        border: solid 1px rgba(116, 116, 116, 0.18);
        background-color: #ffffff;
        position: relative;
        min-height: 50px;
        .subTxt__cont {
          position: absolute;
          left: 0;
          margin-left: -45px;
          margin-top: 9px;
          font-size: 24px;
          color: #ff3d00;
          width: 142px;
        }
      }
      .title__cont {
        width: 75%;
        font-size: 21px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 20px;
      }
      .txt__cont {
        font-size: 16px;
        font-weight: normal;
        color: #747474;
        width: 68%;
        margin-bottom: 20px;
      }
      .link__cont {
        color: #3b00ad;
        display: none;
      }
    }
  }
  .fullService__title__cont {
    display: flex;
    flex-direction: column;
    font-size: clamp(23px, 8vw, 41px);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin-bottom: -40px;
    span:last-child {
      color: #3b00ad;
    }
  }
  .seo__title__cont {
    display: flex;
    flex-direction: column;
    font-size: clamp(23px, 8vw, 41px);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin-bottom: -40px;
    span:last-child {
      color: #ff3d00;
    }
  }
}
@media only screen and (max-width: 1200px) {
  #mobile__contt__wrapper {
    width: 90%;
  }
}
@media only screen and (max-width: 1041px) {
  #mobile__cards__cont {
    .card__cont {
      .title__cont,
      .txt__cont {
        width: 90%;
      }
    }
  }
}
@media only screen and (max-width: 903px) {
  #mobile__contt__wrapper {
    .text__cont {
      width: 72%;
    }
  }
}
@media only screen and (max-width: 782px) {
  #mobile__cards__cont {
    justify-content: center;
  }
}
@media only screen and (max-width: 647px) {
  #mobile__contt__wrapper {
    .text__cont {
      width: 90%;
    }
  }
}
@media only screen and (max-width: 320px) {
  #mobile__cards__cont {
    .card__cont {
      .title__cont {
        font-size: 17px;
      }
      .txt__cont {
        font-size: 12px;
      }
    }
  }
}
